<p><style>
  img { 
    max-width: 75%;
    border: 1px solid #888; 
    margin-left: 60px;
  }
</style></p>

<h1>Guide to Installing Jave+Eclipse+JADE</h1>

<h2>Step 0 - Find a Computer to Work On! <input type=checkbox /></h2>

<p>These instructions are written for Linux and should work with MACs also. In Windows, things work slightly differently. You should still be able to use these instructions as a guide but some of the commands will not execute word-for-word and you'll need to make minor ("common sense") changes:</p>

<ul>
<li>Replace forward slashes ("/") with backslashes ("\") in path names.</li>
<li>Use semi-colon (";") to separate path on Java class paths instead of colon (":").</li>
<li>In general things are easiest if you use <code>Powershell</code>, or the <code>MINGW</code> shell, rather than <code>cmd</code>.</li>
</ul>

<h2>Step 1 - Ensure Java Development Kit is Installed <input type=checkbox /></h2>

<p>In order to run JADE agents, you need to have a Java Runtime Environment (JRE) installed on your machine. In order to build and compile JADE agents, you need to have the Java Development Kit (JDK) installed as well. A JRE is provided with the Java SDK, so it is sufficient to just have the Java SDK installed.</p>

<p>Ensure you have a recent Java JDK installed by opening a shell and typing the following (">" indicates the command prompt where you type):</p>

<pre><code>    &gt; java -version
    openjdk version "1.8.0_171"
    OpenJDK Runtime Environment (build 1.8.0_171-8u171-b11-1~deb9u1-b11)
    OpenJDK 64-Bit Server VM (build 25.171-b11, mixed mode)
    &gt; javac -version
    javac 1.8.0_171
</code></pre>

<p>If you don't output like above (it is OK if the version is different. >= 1.4 will suffice) then download and install the latest JDK - <a href="http://www.oracle.com/technetwork/java/javase/downloads/index.html">http://www.oracle.com/technetwork/java/javase/downloads/index.html</a>. </p>

<h2>Step 2 - Ensure Eclipse IDE is Installed <input type=checkbox /></h2>

<p>Ensure you have a recent version of Eclipse IDE installed, by pressing the Windows key then typing "eclipse".  If you don't then download and install the latest Eclipse IDE - <a href="http://www.oracle.com/technetwork/java/javase/downloads/index.html">https://www.eclipse.org/downloads/</a></p>

<h2>Step 3 - Download JADE</h2>

<p>First, it's a good idea to create a working directory for the JADE projects you will create this semester (you can name it whatever pleases you):</p>

<pre><code>    &gt; cd ~
    &gt; mkdir COS30018
    &gt; cd COS30018
</code></pre>

<p>Now download and unzip JADE into this directory. The current version is <code>4.5.0</code> (as at August 2018). JADE comes packaged in four zip files for binaries, source code, documentation, and examples. All of the zip files are provided in a master zip file called JADE-all-4.5.0.zip, so just download this and unzip it. On Linux you can do the following:</p>

<p><strong>Note:</strong> On MAC you might have to use <code>tar -xzf &lt;file&gt;</code> instead of the <code>unzip</code> command. On Windows you may have to use a web browser to download the zip files then unzip them via the windows file browser:</p>

<pre><code>    &gt; wget http://jade.tilab.com/dl.php?file=JADE-all-4.5.0.zip -OJADE-all-4.5.0.zip
    &gt; unzip -o JADE-all-4.5.0.zip
    &gt; unzip -o JADE-src-4.5.0.zip
    &gt; unzip -o JADE-examples-4.5.0.zip
    &gt; unzip -o JADE-doc-4.5.0.zip
    &gt; unzip -o JADE-bin-4.5.0.zip
</code></pre>

<p>You should have one directory called <code>jade/</code> that looks like the following:</p>

<pre><code>    &gt; ls jade/
    build.properties  build.xml  classes  demo  doc  lib  License  README  src
    &gt; ls jade/lib/
    commons-codec  jadeExamples.jar  jade.jar
</code></pre>

<p><strong>Note:</strong> If you did not use the command line to unzip the archive, the tool you used may have unpacked the zip files into directories named after the zip file (for example, into a directory  called "JADE-src-4.5.0/jade"). It is fine to leave it like this. Or you can rearrange things so everything is under the one <code>jade</code> directory. The following assumes everything is in one <code>jade/</code> directory, as above.</p>

<p><strong>Note:</strong> You can delete or move the zip files somewhere else now if you want.</p>

<h2>Step 4 - Test JADE Agent Framework runs and Setup JAVA CLASSPATH <input type=checkbox /></h2>

<p>In order to run JADE from the commandline we need to put the two JAR files on our Java CLASSPATH. There are two ways you can do that; with the <code>-cp</code> option to <code>java</code>, or by setting up your <code>CLASSPATH</code> environment variable. Using the the first way, assuming your current directory contains the <code>jade/</code> directory</p>

<h3>Step 4.1 - It runs</h3>

<p>Let's just test we can run JADE first:</p>

<pre><code>    &gt; java -cp "jade/lib/jade.jar" jade.Boot -gui
</code></pre>

<p><img src='img/jade-screen-first.png'></img><br/></p>

<h3>Step 4.2 - Load some Agents</h3>

<p>Now test starting one of the pre-built example Agents in the JADE agent environment. To do this you need to tell JADE where it should look for the agent implementation by putting the JAR file that contains it on the Java class path:</p>

<pre><code>    &gt; java -cp "jade/lib/jade.jar:jade/lib/jadeExamples.jar" jade.Boot -gui -agents "agent1:jade.core.Agent;ping1:examples.PingAgent.PingAgent"
</code></pre>

<p><img src='img/jade-screen-w-example-agent.png'></img><br/></p>

<h2>Step 5 - Working JADE from Eclipse <input type=checkbox /></h2>

<h3>5.1 Create a new Java project</h3>

<ol>
<li>Startup Eclipse.</li>
<li>Create a new project - call it whatever you want, say "jade-getting-started".</li>
<li>Press Finish</li>
</ol>

<p><img src='img/create-eclipse-project.png'></img><br/></p>

<h3>5.2 Include the JADE Libraries</h3>

<p>In order to use JADE from an Eclipse Java project you need to include the JADE libraries we downloaded above in our project. We just need to configure where to find the two .jar files called "jade.jar" and "jadeExamples.jar" for now. There are a few ways we can do this in Eclipse. We will create a user library containing these two JAR files, that we can reuse whenever we start a new JADE Java project in Eclipse.</p>

<ol>
<li>Navigate to <em>Window >> Preferences >> Java >> Build Path >> User Libraries</em></li>
<li>Select <em>"New Library"</em> to create our new library, and call it "JADE" (all upper case).</li>
<li>Now select <em>"Add External JARs ..."</em> and add the two <em>"jade.jar"</em> and <em>"jadeExamples.jar"</em> files we downloaded and used above to the library.</li>
</ol>

<p><img src='img/eclipse-new-user-library.png'></img></p>

<p><img src='img/eclipse-new-user-library-2.png'></img><br/></p>

<p>Now we need to add the library we created to our current project:</p>

<ol>
<li>Make sure you only have the one project you create above open, or select the project in the "Package Explorer" dock.  </li>
<li>Navigate to Project >> Properties >> Java Build Path</li>
<li>Press "Add Library" then select User Library. Select the library called "JADE" you just created.</li>
</ol>

<h3>5.3 Run JADE from a Eclipse "Run Configuration"</h3>

<p>Eclipse run configurations are just convenient ways to run command line scripts or a Java program you are currently developing. Sometimes you want to run a script or the program you are developing with different configurations. Each run time configurations is one such configuration ... Create a runtime configuration to do exactly what you did in step 4.1 but from within Eclipse:</p>

<ol>
<li>Navigate to <em>Run >> Run Configurations</em></li>
<li>Select <em>"Java Application"</em> to create a new Java application run configuration.</li>
<li>Give you run configuration a meaningful name like "Launch JADE Environment"</li>
<li>Enter <code>jade.Boot</code> as the "Main class".</li>
<li>Enter <code>-gui -agents "jade.core.Agent"</code></li>
<li>Press <em>Run</em> to run it and you should see a JADE window appear.</li>
</ol>

<p><img src='img/eclipse-run-config-1.png'></img></p>

<p><img src='img/eclipse-run-config-2.png'></img></p>

<h2>Step 6 - Continue Learning About JADE Admistration <input type=checkbox /></h2>

<p>Please work through the tutorials on <a href="http://jade.tilab.com/documentation/tutorials-guides/jade-administration-tutorial/#tutorials">JADE administration and architecture</a></p>
